
/* ! General */
body{
  color: white;
}

.bg-navbar{
  background-color: #2c3e50;
}

.bg-acqua{
  background-color: #43c5ba;
}

section{
  padding: 3rem 0;
}

/** Separator star line */
.separator-star-line{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.small-separator{
  border-radius: 10px;
  height: 5px;
  background-color: white;
  width: 15vw;
  margin: 0 2vw;
}

.blu-star{
  color: #2C3E50;
}
.bg-blu-star{
  background-color: #2C3E50;
}
/* * Header */

.navbar-collapse a{
  color: white;
  font-weight: bold;
}

header .navbar-toggler-icon{
  filter: invert(1);
}

/** Jumbotron */

.jumbotron img{
  height: 300px;
}

/** Contact */
#contact .form-control{
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ced4da;
  padding: 0;
  padding-bottom: 1rem;
}

#contact .form-control::placeholder{
  color: black;
}

/** Footer */
.bg-footer-top{
  background-color: #3A546D;
}

.bg-footer-bottom{
  background-color: #2C3E50;
}

.social-icons .icon{
  height: 50px;
  width: 50px;
  line-height: 50px;
  border: 1px solid white;
  border-radius: 50%;
}