body{
  color: white;
}

header:first-child{
  height: 80px;
}

.jumbotron{
  min-height: 500px;
}

section{
  border: 1px dashed darkblue;
  min-height: 500px;
  margin-bottom: 2rem;
  color: black;
}

.footer-top{
  height: 200px;
}

.footer-bottom{
  height: 100px;
}

[class^="col"]{
  border: 1px dashed purple;
}

[class^="row"]{
  border: 1px dashed black;
}

[class^="container"]{
  border: 1px dashed red;
}